<header class="FooterMain">
    <div class="FooterText">
        <a class="TextHeadera">2024 ООО "VibeBus"</a>
        <a href="http://www.vk.com"
            <img class="iconFP" src="https://s1.iconbird.com/ico/2013/11/499/w512h5121384975213MezhdunarodnylogotipVK.png" alt="VK">
        </a>
        <a href="https://t.me/urballerr"
            <img class="iconFP" style="width: 47px; height: 47px;" src="https://cdn-icons-png.flaticon.com/512/3488/3488463.png" alt="TG">
        </a>
        <a href="http://www.youtube.com"
            <img class="iconFP" src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YT">
        </a>

        <a class="TextHeadera" href="http://mail.ru">supporturbanvibe@mail.ru</a>

        <a class="TextHeadera">+7 960 076 35 72</a>

    </div>
</header>
