<header class="HeaderMain">
    <div class="HeaderText">
        <a href="/Tours"
            <img class="iconFP" src="images/virtual-tour.png" alt="Тут должна быть иконка">
        </a>
        <a href="/information" class="TextHeadera">Информация</a>
        <a href="/Tours" class="TextHeadera">Маршруты</a>
        <a href="/Contacts" class="TextHeadera">Контакты</a>
        <a href="/About" class="TextHeadera">О нас</a>
        <a href="/Profile" class="TextHeadera">Профиль</a>
    </div>
</header>
