@page "/Contacts"

<Header />
<Footer />

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-53.userapi.com/impg/Ryk8WI3wHPeutEpgiARsl0KPHzlNiN8FTTI_mw/7cCQV9uaxtY.jpg?size=960x1280&quality=95&sign=2c341909c558c4e9a72c5bd7bc57cbd8&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Бакасов Артур</h1>
        <p class="Bakaopis">
            Дата рождения: 15.05.2005<br>
            Место рождения: г.Агрыз<br>
            Должность: Директор<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" target="_blank" href="https://t.me/urballerr">Перейти в Telegram</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-80.userapi.com/impg/ETen2ii8yo0U9Q_ewG4PmOTSYISLpbcYZD36Ww/CrfXH6v7quw.jpg?size=1080x1493&quality=95&sign=94733d3b64caa9e1ffe0da4ccba28cd6&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Балашов Денис</h1>
        <p class="Bakaopis">
            Дата рождения: 27.12.2005<br>
            Место рождения: г. Туймазы<br>
            Должность: Разработчик<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" target="_blank" href="https://t.me/yandaab">Перейти в Telegram</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-12.userapi.com/impg/P1U7-gSZL5PHzbY-1kOQx2jsfSXWDz1Y0UPTSg/EEVKNAArZuc.jpg?size=899x853&quality=96&sign=7833a0cfbb167412eacd8b9541cbfff5&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Карунас Егор</h1>
        <p class="Bakaopis">
            Дата рождения: 22.02.2005<br>
            Место рождения: г. Уфа<br>
            Должность: Главный разработчик<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" target="_blank" href="https://t.me/h_krns">Перейти в Telegram</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-63.userapi.com/impg/fu4cZKaJuwbWx1BlorrnsivlLsofYbIzMQ06ng/vaZM9NBN75o.jpg?size=1620x2160&quality=95&sign=ef4c25ccc38f0a856cb82f17eb4a1879&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Хафизова Алина</h1>
        <p class="Bakaopis">
            Дата рождения: 07.10.2005<br>
            Место рождения: г. Уфа<br>
            Должность: Менеджер<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" target="_blank" href="https://t.me/alinnnkkk">Перейти в Telegram</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-8.userapi.com/impg/VQii94xE-4Z02fFgYFsxe7UC87NUE24BDjWONQ/yrWazTP554M.jpg?size=828x828&quality=95&sign=26cf2fd0574e5a26ec124e5bf127a6db&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Садыкова Диляра</h1>
        <p class="Bakaopis">
            Дата рождения: 14.10.2005<br>
            Место рождения: г. Агрыз<br>
            Должность: Менеджер<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" target="_blank" href="https://t.me/sdilyaa">Перейти в Telegram</a>
        </div>
    </div>
</div>

@code {
   
}