@page "/Contacts"

<Header />

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-53.userapi.com/impg/Ryk8WI3wHPeutEpgiARsl0KPHzlNiN8FTTI_mw/7cCQV9uaxtY.jpg?size=960x1280&quality=95&sign=2c341909c558c4e9a72c5bd7bc57cbd8&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Бакасов Артур</h1>
        <p class="Bakaopis">
            Дата рождения: 15.05.2005<br>
            Место рождения: г.Агрыз<br>
            Амплуа: нападающий<br>
            Первый тренер: Гарифуллин Аскат Наильевич, Яковлев Алексей Викторович<br>
            Первая команда: "СПУТНИК" 2005 г.Агрыз<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" href="https://t.me/urballerr">Связаться с нами</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-68.userapi.com/impg/ofS77xCZoWxB9i4uyvl1HnvMnV1_xLZjYkz-sg/x7gT-EWsTXQ.jpg?size=1024x1024&quality=95&sign=546af45782e7c2f35e9b22bdf6843cd0&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Балашов Денис</h1>
        <p class="Bakaopis">
            Дата рождения: 27.12.2005<br>
            Место рождения: г. Туймазы<br>
            Амплуа: защитник<br>
            Первый тренер: Гарифуллин Аскат Наильевич, Яковлев Алексей Викторович<br>
            Первая команда: "СПУТНИК" 2005 г.Агрыз<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" href="https://t.me/yandaab">Связаться с нами</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-68.userapi.com/impg/ofS77xCZoWxB9i4uyvl1HnvMnV1_xLZjYkz-sg/x7gT-EWsTXQ.jpg?size=1024x1024&quality=95&sign=546af45782e7c2f35e9b22bdf6843cd0&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Балашов Денис</h1>
        <p class="Bakaopis">
            Дата рождения: 27.12.2005<br>
            Место рождения: г. Туймазы<br>
            Амплуа: защитник<br>
            Первый тренер: Гарифуллин Аскат Наильевич, Яковлев Алексей Викторович<br>
            Первая команда: "СПУТНИК" 2005 г.Агрыз<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" href="https://t.me/yandaab">Связаться с нами</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-68.userapi.com/impg/ofS77xCZoWxB9i4uyvl1HnvMnV1_xLZjYkz-sg/x7gT-EWsTXQ.jpg?size=1024x1024&quality=95&sign=546af45782e7c2f35e9b22bdf6843cd0&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Балашов Денис</h1>
        <p class="Bakaopis">
            Дата рождения: 27.12.2005<br>
            Место рождения: г. Туймазы<br>
            Амплуа: защитник<br>
            Первый тренер: Гарифуллин Аскат Наильевич, Яковлев Алексей Викторович<br>
            Первая команда: "СПУТНИК" 2005 г.Агрыз<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" href="https://t.me/yandaab">Связаться с нами</a>
        </div>
    </div>
</div>

<div class="contbase">
    <div class="ava1">
        <img src="https://sun9-68.userapi.com/impg/ofS77xCZoWxB9i4uyvl1HnvMnV1_xLZjYkz-sg/x7gT-EWsTXQ.jpg?size=1024x1024&quality=95&sign=546af45782e7c2f35e9b22bdf6843cd0&type=album" />
    </div>
    <div class="text-wrapper">
        <h1 class="Bakasov">Балашов Денис</h1>
        <p class="Bakaopis">
            Дата рождения: 27.12.2005<br>
            Место рождения: г. Туймазы<br>
            Амплуа: защитник<br>
            Первый тренер: Гарифуллин Аскат Наильевич, Яковлев Алексей Викторович<br>
            Первая команда: "СПУТНИК" 2005 г.Агрыз<br>
        </p>
        <div class="Svyaz">
            <a class="Svyaz2" href="https://t.me/yandaab">Связаться с нами</a>
        </div>
    </div>
</div>

<style>
    .Svyaz {
        border: 2px solid green;
        border-radius: 10px;
        width: 16%;
    }

    .Svyaz2 {
        color: black;
        font-family: Montserrat;
        margin-left: 2px;
        margin-right: 2px;
        text-decoration: none;
    }

    .contbase {
        border-radius: 15px;
        margin: 5% 7%;
        padding: 20px;
        background-image: url('https://cerenas.club/uploads/posts/2022-12/thumbs/1670966975_cerenas-club-p-svetlo-zelenii-fon-odnotonnii-krasivo-5.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
    }

    .ava1 {
        border-radius: 15px;
        overflow: hidden;
        width: 20%;
        margin-right: 10px;
    }

        .ava1 img {
            width: 100%;
            display: block;
        }

    .text-wrapper {
        flex: 1;
        overflow: hidden;
    }

    .Bakasov {
        font-family: Montserrat Black;
        margin-bottom: 10px;
        margin-right: 8px;
    }

    .Bakaopis {
        font-family: Montserrat;
        color: black;
        word-wrap: break-word;
    }

    .Svyaz2:hover {
        color: darkgray;
    }
</style>

@code {

}