@page "/"
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<PageTitle>Главная страница</PageTitle>
<Header />

<div class="login-form">
    <h1 class="Vhonh">Вход</h1>

    <div class="form-group">
        <label for="firstName">Логин или почта:</label>
        <input type="text" maxlength="30" id="email" class="form-control" @bind="email" />
    </div>

    <div class="form-group">
        <label for="lastName">Пароль:</label>
        <input type="password" maxlength="8" id="password" class="form-control" @bind="password" />
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary" @onclick="Login">Войти</button>
        <button @onclick="RedirectToRegistrationPage" class=" btn btn-link">Нет аккаунта?</button>
    </div>
</div>

<Footer />
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;


    private void RedirectToRegistrationPage()
    {
        NavigationManager.NavigateTo("/RegistrationPage");
    }

    private async Task Login()
        {
              NavigationManager.NavigateTo("/Profile");
        }

    private string email = null!;
    private string password = null!;

}