@page "/Information"

<Header></Header>
<Footer></Footer>

<div class="Countries">
    <h1 class="Countriesh1">
        Города
    </h1>
</div>

<div class="allcountries">
    @foreach (var city in Cities)
    {
        <a href="/Tours" class="Town">
            <h1 class="ZagolovokStran">
                @city.Name
            </h1>
            <img class="imagge" src="@city.ImageUrl" />
        </a>
    }
</div>