@page "/RegistrationPage"

<div class="login-form">
    <h1 class="Vhonh">Регистрация</h1>

    <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" maxlength="15" id="firstName" class="form-control" oninput="this.value = this.value.replace(/[^a-zA-Zа-яА-Я]/g, '')" @bind="_name" />
    </div>

    <div class="form-group">
        <label for="surname">Фамилия:</label>
        <input type="text" maxlength="20" id="lastName" class="form-control" oninput="this.value = this.value.replace(/[^a-zA-Zа-яА-Я]/g, '')" @bind="_surname" />
    </div>

    <div class="form-group">
        <label for="email">Почта:</label>
        <input type="email" maxlength="30" id="email" class="form-control" @bind="_email" />
    </div>

    <div class="form-group">
        <label for="phoneNumber">Номер телефона:</label>
        <input type="tel" maxlength="11" id="phoneNumber" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 12)" @bind="_phoneNumber" />
    </div>

    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" maxlength="8" id="password" class="form-control" @bind="_password" />
    </div>

    <div class="buttons">
        <button @onclick="RedirectToIndexPage" class=" btn btn-link">Уже есть аккаунт</button>
        <button class="btn btn-reg" @onclick="Register">Зарегистироваться</button>
    </div>
</div>